{% extends "base.html" %}
{% block header %} Об авторе проекта {% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
<p>
  Тут я размещу информацию о себе, используя свои умения верстать.
  Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста. 
  <hr>
  есть стойкое ощущение что из-за всяких б яд ких турций и отпусков с друзьями, меня в академ отправят.
  поэтому все описания потом - отставание три спринта, ревьюер умоляю сжалься (на фоне: плачь автора)
</p>
{% endblock %} 